<a href="https://colab.research.google.com/github/hyuk402/python-basics/blob/master/R%26Python(4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def my_merge(list1,list2):
  '''merge(list1,list2) returns a list consisting of the original list1
  along with any elements of list2 which were not already in list1'''
  newlist = list1
  for i in list2:
    if i not in newlist:
      newlist.append(i)
  return(newlist)

In [2]:
one = [7,12,19,44,32]
two = [8,12,19,31,44,66]
my_merge(one,two)

[7, 12, 19, 44, 32, 8, 31, 66]

In [3]:
one

[7, 12, 19, 44, 32, 8, 31, 66]

In [4]:
def count_letter(string,letter):
  count = 0
  for i in string:
    if i ==letter:
      count += 1
  return count

In [5]:
count_letter('dead parrot','a')

2

In [6]:
count_letter('a','dead parrot')

0

In [7]:
count_letter(string='dead parrot',letter='a')

2

In [8]:
def printinfo(name,age=35):
  "this prints a passed info into this function"
  print("Name", name)
  print("Age", age)

In [9]:
printinfo(name="Miki")

Name Miki
Age 35

In [10]:
printinfo(name="Miki",age=60)

Name Miki
Age 60

In [11]:
printinfo(age=65, name="Miki")

Name Miki
Age 65

In [13]:
def change_letter(string, frm='', to=''):
  newstring = ''
  for i in string:
    if i == frm:
      newstring = newstring + to
    else:
      newstring = newstring + i
  return newstring

In [17]:
change_letter(frm='b',string='string with blanks')

'string with lanks'

In [24]:
change_letter('string with blanks',frm=' ',to='+')

'string+with+blanks'

In [25]:
 def printinfo(arg1, *vartuple):
   "This prints a variable passed arguments"
   print("Output is: ")
   print(arg1)
   for var in vartuple:
     print("Output2 is: ")
     print(var)

In [26]:
printinfo(10)

Output is:
10

In [27]:
printinfo(10,22,33,44,55,66)

Output is:
10
Output2 is:
22
Output2 is:
33
Output2 is:
44
Output2 is:
55
Output2 is:
66

In [28]:
def intro_family(name, *family_names, **family_info):
  print('my name: ', name)
  print('My family: ')
  for fn in family_names:
    print(fn)
  for k in family_info.keys():
    print(k, ":", family_info[k])

In [29]:
intro_family('kim','Chris','anna',city='seoul',age=[3,1])

my name:  kim
My family:
Chris
anna
city : seoul
age : [3, 1]

In [33]:
def sumftn(arg1, arg2):
  total = arg1 + arg2
  print('inside the function : ', total)
  total2 = arg1 * arg2
  return total2

In [34]:
t_out = sumftn(10,20)

inside the function :  30

In [35]:
print('outside the function : ', t_out)

outside the function :  200

In [40]:
def SummationAndProduct(a,b):
  total = 0
  prod = 1
  for n in range(a,b+1):
    total += n
    prod *= n
  return total, prod

In [41]:
a = SummationAndProduct(1,10)
print(a)

(55, 3628800)

In [42]:
a1,a2 = SummationAndProduct(1,10)
print(a1,a2)

55 3628800

In [43]:
a1

55

In [44]:
total = 0
def sum(arg1,arg2):
  total = arg1 + arg2
  print('inside the function local total:',total)
  return total

In [45]:
sum(1,2)

inside the function local total: 3

3

In [46]:
print('outside : ', total)

outside :  0

In [47]:
scale =10
def doscale(list):
  newlist=[]
  for i in list:
    newlist.append(i/scale)
  return newlist

In [48]:
mylist = [1,2,3,4,5]
otherlist = doscale(mylist)
print(otherlist)

[0.1, 0.2, 0.3, 0.4, 0.5]

In [55]:
count = 0
def doit(x):
  global count
  count += 1
  return x + 1

In [56]:
tst = [10,19,25,18,17,23,29]
for i in range(len(tst)):
  if tst[i] % 2 ==1:
    tst[i] = doit(tst[i])

In [57]:
tst

[10, 20, 26, 18, 18, 24, 30]

In [58]:
count

5

In [60]:
lambda x: x+1

In [61]:
first = ['Joe','Sue','Harry']
last = ['Smith','Wiliiams','Brown']
list(map(lambda a,b : a+' '+b, first, last))

['Joe Smith', 'Sue Wiliiams', 'Harry Brown']

In [62]:
list_1 = [1,2,3,4,5,6]
list_2 = list(map(lambda x:x**3, list_1))
print(list_2)

[1, 8, 27, 64, 125, 216]

In [63]:
list(filter(lambda x: x>3,list_1))

[4, 5, 6]

In [66]:
list(map(lambda x: x+10, filter(lambda x: x> 2, list_1)))

[13, 14, 15, 16]