<a href="https://colab.research.google.com/github/hyuk402/python-basics/blob/master/R%26Python(3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
exam1 = 90; exam2 =85
if (exam1 >= 90) and (exam2>=90):
  print('Excellent')

In [2]:
if (exam1 >= 90) or (exam2>=90):
  print('Excellent')

Excellent

In [3]:
a = 10
if a > 10:
  print('value is greater than 10')
else:
  print('value is 10')

value is 10

In [4]:
modeA='Green' ; modeB = 'hot'
if modeA.lower()=='green' and modeB.lower() != 'cold':
  print('What I am looking for')
else:
  print('NO match')

What I am looking for

In [5]:
score = 87
if score >= 90:
  print('A')
elif score >= 80:
  print('B')
else:
  print('C')

B

In [7]:
var1 = 1+2j
if (type(var1)==int):
  print('type  of variable is integer')
elif (type(var1)==float):
  print('type of variable is float')
elif (type(var1)==complex):
  print('type of variable is complex')
elif(type(var1)==bool):
  print('type of variable is bool')
else:
  print('type of variable is unknown')

type of variable is complex

In [8]:
if exam1 >= 90:
  print('good')
else:
  if exam2>=90:
    print('Good')

good

In [9]:
v=3
if v>1: print('v is greater than 1')

v is greater than 1

In [12]:
fruits = ['banana','apple','mango']
for fruit in fruits:
  print('Current fruit:', fruit)

Current fruit: banana
Current fruit: apple
Current fruit: mango

In [13]:
for var in list(range(3)):
  print(var)

0
1
2

In [14]:
for idx in range(len(fruits)):
  print('Current fruit:',fruits[idx])
print('good bye')

Current fruit: banana
Current fruit: apple
Current fruit: mango
good bye

In [16]:
count = 0
for i in range(10):
  for j in range(10):
    count +=j

In [17]:
count

450

In [18]:
count = 0
returns = [11,-13,15,16,18,19,21]
for j in returns:
  if j > 0:
    count += 1
count

6

In [20]:
x = range(0,40,11)
for i,x in enumerate(x):
  print('index:',i)
  print('value:',x)

index: 0
value: 0
index: 1
value: 11
index: 2
value: 22
index: 3
value: 33

In [21]:
names = [('Smith','John'),('Jones','Fred'),('Williams','Sue')]
for last, first in names:
  print(last,first)

Smith John
Jones Fred
Williams Sue

In [22]:
for k in range(3): print(k*3)

0
3
6

In [23]:
n = 10
sum = 0
i = 1
while i <= n:
  sum = sum + i 
  i = i+1
print('the sum is', sum)

the sum is 55

In [24]:
maxsum = 50
sum = 0
i =0
while sum <= maxsum:
  i = i+1
  sum = sum+ i 
print('the sequence is', list(range(1,i+1)))

the sequence is [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
a = 10
while a > 4 : a -= 3

In [26]:
a

4

In [27]:
var = 10
while var > 0:
  print('current variable value:', var)
  var = var - 1
  if var == 5:
    break

current variable value: 10
current variable value: 9
current variable value: 8
current variable value: 7
current variable value: 6

In [29]:
for letter in 'Python':
  if letter == 'h':
    continue
  print('Current:', letter)

Current: P
Current: y
Current: t
Current: o
Current: n

In [30]:
oldlist = [7,9,3,4,1,12]
newlist = []
for i in oldlist:
  newlist.append(i*i)
newlist

[49, 81, 9, 16, 1, 144]

In [32]:
newlist2 = [j*j for j in oldlist]
newlist2

[49, 81, 9, 16, 1, 144]

In [33]:
[ number for number in range(1,6) if number % 2 ==1]

[1, 3, 5]

In [34]:
[(x,y) for x in range(2) for y in range(4)]

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3)]

In [35]:
[(x,y) for x in range(3) if x in (1,2) for y in range(4) if y ==0]

[(1, 0), (2, 0)]

In [36]:
[(x,y) for x in range(3) for y in range(4) if x+y <3]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (2, 0)]

In [38]:
x = list(range(-5,5))
z_set = {x[i]**2 for i in range(len(x))}
z_set

{0, 1, 4, 9, 16, 25}

In [40]:
z_tuple = tuple(i**3 for i in x)
z_tuple

(-125, -64, -27, -8, -1, 0, 1, 8, 27, 64)

In [41]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}
letter_counts

{'e': 2, 'l': 1, 'r': 1, 's': 1, 't': 2}